<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/site.css")
    script(src="https://unpkg.com/react/umd/react.development.js")
    script(src="https://unpkg.com/react-dom/umd/react-dom.development.js")
    script(src="https://unpkg.com/babel-standalone/babel.min.js")
    //- TODO: Remove hardcoded port.
    script(src="http://localhost:49159/socket.io/socket.io.js")
    script(src="/app.jsx", type="text/babel")
    title Financial Chat
  body
    h1 Financial Chat
    if !!user
      a(href="/sign-out") Sign Out
    else
      a(href="/sign-in/auth0") Sign In
    div#app
