<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Sign In
  body
    h1 Sign In
    if errors.length
      each error in errors
        p #{error}
    if returnUrl
      p The following URL requires you to sign in:
      p #{returnUrl}
    a(href="/sign-in/auth0") Sign In
